@import '../styles/variables.scss';

.container{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-container{
  width: 650px;
  margin: 5rem auto 0 auto;
}

.title{
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  color: $gradient-text-color;
}

.date{
  font-style: italic;
  color: $gradient-text-color;
}


.image-container{
  width: 900px;
  margin: 0 auto;
  img{
    width: 900px;
    height: auto;
    margin: 0 auto;
  }
}



.paragraph{
  width: 650px;
  margin: 2rem auto;
  font-size: $body-font-size;
  color: $gradient-text-color;
}