@import '../styles/variables.scss';

.container{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-container{
  max-width: 650px;
  margin: 5rem auto 0 auto;
}

.title{
  font-size: 250%;
  font-weight: 400;
  color: $gradient-text-color;
  @media (max-width: $desktop-breakpoint){
    font-size: 200%;
  }
}

.date{
  font-style: italic;
  color: $gradient-text-color;
}


.image-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  img{
    max-width: 70%;
    height: auto;
    margin: 0 auto;
  }
  @media (max-width: $desktop-breakpoint){
    img{
      max-width: 100%;
    }
  }
}



.paragraph{
  max-width: 650px;
  margin: 2rem auto;
  font-size: 125%;
  color: $gradient-text-color;
}