//COLORS

$off-white: #EBF2F9;
$light-grey: #8B95A1;
$slate: #566270;
$dark-slate: #2d343c;
$dark-grey: #0e141b;
$dark-theme-text: #e9e7e2;
$light-theme-text: #26251e;
$gradient-text-color: #26251e;

//MAP

$light-brown: #736e5a;
$visited-brown: #434034;
$hover-color: #6C6977;

//FONTS

$body-font-size: 125%;
$title-font-size: 250%;
$title-font-weight: 400;
