@import '../styles/variables';


* {
  margin: 0;
}

.container{
  overflow: hidden;
  width: auto;
  height: 100vh;
}
.hero{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
  @media (max-width: $desktop-breakpoint){
    background-attachment: scroll;
  }
}
.feature {
  margin: 0 auto;
  max-width: 750px;
  padding: 1rem;
  margin-bottom: 1rem;
  h2,
  p {
    text-align: center;
    color: $dark-theme-text;
    opacity: .8;
  }
  h2{
    margin-bottom: 1rem;
    font-size: 250%;
    font-weight: 350;
    @media (max-width: $desktop-breakpoint){
      font-size: 150%;
      font-weight: 300;
    }
  }
  p{
    font-size: 110%;
    font-weight: 200;
    @media (max-width: $desktop-breakpoint){
      font-size: 90%;
      font-weight: 300;
    }
  }
}
.filters{
  position: sticky;
  top: 0;
  z-index: 500;
}
.post-section{
  padding: 1.5rem 0;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  