@import '../../styles/variables.scss';

.container{
  display: flex;
  top: 0;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d9d9d9, #cacaca, #e1e1e1, #9e9983);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d9d9d9, #cacaca, #e1e1e1, #9e9983); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: space-evenly;
  padding: 0.5rem 0 .5rem 0;
  opacity: .95;
}

.button{
  color: $light-theme-text;
  background: none;
  border: none;
  margin: 0 3rem .5rem 0;
  padding: .5rem 0 0 0;
  font-size: 1.4rem;
  outline: none;
}

.button:hover{
  color: #6C6977;
  border-bottom: 1px solid $hover-color;
}

.search-box{
  color: $light-theme-text;
  background: none;
  width: 25%;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid $light-theme-text;
  outline: none;
}