@import '../../styles/variables.scss';

.container{
  display: flex;
  top: 0;
  background: $light-grey;
  justify-content: space-evenly;
  padding: 1rem 0;
  opacity: .95;
}

.button{
  color: $off-white;
  background: none;
  border: none;
  margin: 0 3rem .5rem 0;
  padding: .5rem 0 0 0;
  font-size: 1.4rem;
  outline: none;
}

.button:hover{
  color: #227093;
}

.search-box{
  color: $off-white;
  background: none;
  width: 25%;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid $off-white;
  outline: none;
}