@import '../../styles/variables';
.container{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c8c8c8, #b9b9b9, #d0d0d0, #8f8970);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c8c8c8, #b9b9b9, #d0d0d0, #8f8970); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .8;

  p{
    padding: 5px 0 0 2rem;
  }
}

.social-media{
  display: flex;
  list-style-type: none;
  padding-right: 2rem;
}

.icon{
  height: 25px;
  margin-right: 1rem;
  transform: scale(1);
  transition: transform 0.3s;

}

.icon:hover{
  transform: scale(1.1)
}