@import '../../styles/variables';
.container{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background: $slate;
  opacity: .8;

  p{
    padding: 5px 0 0 2rem;
  }
}

.social-media{
  display: flex;
  list-style-type: none;
  padding-right: 2rem;
}

.icon{
  height: 25px;
  margin-right: 1rem;
  transform: scale(1);
  transition: transform 0.3s;

}

.icon:hover{
  transform: scale(1.1)
}