@import '../../styles/variables';

.header {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: none;
  z-index: 100;
  @media (max-width: $desktop-breakpoint){
    padding: 1rem 0 1rem 1rem;
  }
}

.title{
  color: $dark-theme-text;
  font-size: 3rem;
  text-decoration: none;
  opacity: .8;
  @media (max-width: $desktop-breakpoint){
    font-size: 1.5rem;
  }
}

.nav-list {
  margin-right: 1rem;
  padding: .75rem 0 1rem 0;
  display: flex;
  list-style-type: none;
  @media (max-width: $desktop-breakpoint){
    margin-right: .25rem;
  }
}


.nav-item {
  color: $dark-theme-text;
  font-size: 1.1rem;
  margin-right: 1.3rem;
  text-decoration: none;
  @media (max-width: $desktop-breakpoint){
    margin-right: .75rem;
  }
}

.nav-item:hover{
  color: $hover-color;
}

.active-nav-item{
  color: $light-theme-text;
}