@import '../../styles/variables';

.header {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: none;
}

.title{
  color: $dark-theme-text;
  font-size: 3rem;
  text-decoration: none;
  opacity: .8;
}

.nav-list {
  margin-right: 1.5rem;
  padding: 1rem 0 1rem;
  display: flex;
  list-style-type: none;
}


.nav-item {
  color: $dark-theme-text;
  font-size: 1.1rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover{
  color: $hover-color;
}

.active-nav-item{
  color: $light-theme-text;
}